/**
 * SHARED
 */

body {
  position: relative;
  font-family: "Andale Mono", "Lucida Console", monospace;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #fff;
  margin: 0;
  padding: 0;
}

input {
  background: transparent;
  border: none;
  border-bottom: solid 2px #fff;
  color: #fff;
  font-family: "Andale Mono", "Lucida Console", monospace;
  font-size: 20px;
}

button {
  background: transparent;
  border: 2px solid #ccc;
  color: #ccc;
  cursor: pointer;
  font-family: "Andale Mono", "Lucida Console", monospace;
  font-size: 20px;
}

button:hover {
  border-color: #eee;
  color: #eee;
}

button:active {
  border-color: #fff;
  color: #fff;
}

input:focus,
button:focus {
  outline: none;
}

/**
 * SPLASH SCREEN
 */

.splash {
  background-image: url('img/bazooka-city-title.png');
  background-color: #008080;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.splash-start {
  margin: 51vw auto 0 22vw;
  width: 500px;
}

.splash-input-name {
  width: 200px;
}

.splash-btn-start {
  display: none;
}

.splash-btn-start.show {
  display: inline-block;
}

.controls {
  display: none;
}

.controls.show {
  display: block;
}

/**
 * ERROR OVERLAY
 */

.error {
  display: none;
  color: #ff89dc;
}

.error.show {
  display: block;
}

/**
 * GAME
 */

canvas {
  position: absolute;
  top: 60px;
}

canvas.fullscreen {
  width: 100%;
}
