body {
  position: relative;
  font-family: "Andale Mono","Lucida Console",monospace;
  font-size: 30px;
  letter-spacing: 0.15em;
  color: #fff;
  margin: 0;
  padding: 0;
}

.splash {
  background-image: url('img/bazooka-city-title.png');
  background-color: #008080;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

input:focus,
button:focus {
  outline: none;
}

button {
  display: none;
  cursor: pointer;
}

button.show {
  display: block;
}

button:hover,
button:focus {
  background-position: 0 0;
}

.controls {
  display: none;
}

.controls.show {
  display: block;
}

.error {
  display: none;
  color: #ff89dc;
}

.error.show {
  display: block;
}

canvas {
  position: absolute;
  top: 60px;
}

canvas.fullscreen {
  width: 100%;
}
